{% load static %}
{% load spendlytime_react %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block css %}{% endblock %}

    <title>{% block title %}Spendlytime{% endblock %}</title>

    <script>
        window.__initialData = {% get_react_config %};
    </script>


    {% block scripts %}
        {% block locale_js_include %}
            <script src="{% static "spendlytime/dist/app.js" %}"></script>
        {% endblock %}

        <script
            src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
            crossorigin="anonymous"
        ></script>
    {% endblock %}

</head>
</head>
<body>
    {% block body %}
        <div class="container">
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    {% endblock %}
    {% block scripts_bottom %}{% endblock %}
</body>
</html>