{% extends "spendlytime/layout.html" %}

{% block content %}
    <div class="auth-wrapper">
        <div class="auth-container">
            <div class="auth-logo-wrapper">
                <div class="logo">
                    <div class="logo__text">Spendlytime.com</div>
                </div>
            </div>
            <form class="auth_form" action="" method="POST" autocomplete="off">
                {% if form.errors %}
                    {% for error in form.non_field_errors%}
                        <p class="auth_form__error">{{ error|escape }}</p>
                    {% endfor %}
                {% endif %}
                {% csrf_token %}

                {% for field in form%}
                    <div class="auth_form__group">
                        {{field}}
                    </div>
                {% endfor %}
                <button class="auth_form__submit">Zaloguj się</button>
                <p class="auth_form__text">Zapomniałeś hasła?</p>
                <p class="auth_form__text">Stwórz nowe konto / Zarejestruj się</p>
            </form>
        </div>
    </div>
{% endblock %}